<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="container">
        <h1 class="logo">ShiftPlanner</h1>

        <div class="nav-box">
            {% if session.user_id %}
            <p>
                User: <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
            </p>
            {% endif %}

            <p>
                {% if session.user_id %}
                    <a href="/">Home Page</a> |
                    <a href="/find_item">Search for an Event</a> |
                    <a href="/new_item">New Event</a> |
                    <a href="/find_missing">Search for a missing item</a> |
                    <a href="/new_missing">Write down a missing item</a> |
                    <a href="/new_wastage">Write down a new wastage</a> |
                    <a href="/show_wastage">Show wastages</a> |
                    <a href="/logout">Log Out</a>
                {% else %}
                    <a href="/login">Log In</a> |
                    <a href="/register">Create an account</a>
                {% endif %}
            </p>
        </div>

        {% block content %}{% endblock %}
</div>
</body>

</html>
