{% extends "layout.html" %}

{% block title %}Delete the Item{% endblock %}

{% block content %}

<h2>{{ missing.title }}</h2>
<h3>Delete item:<h3>
<p>Are you sure you want to delete it?</p>
<form action="/remove_missing/{{ missing.id }}" method="post"></form>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" name="remove" value="Delete">
    <input type="submit" name="back" value="Back">
  </form>

  <p>
    <a href="/missing/{{ missing.id }}">Back</a>
  </p>
  {% endblock %}