{% extends "layout.html" %}

{% block title %}Delete the Event{% endblock %}

{% block content %}

<h2>{{ item.title }}</h2>
<h3>Delete private event:<h3>
<p>Are you sure you want to delete it?</p>
<form action="/remove_item/{{ item.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" name="remove" value="Delete">
    <input type="submit" name="back" value="Back">
  </form>

  <p>
    <a href="/item/{{ item.id }}">Back</a>
  </p>
  {% endblock %}